body {
  background-color: silver;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.zip {
  color: black;
  font-size: 40px;
  font-weight: medium;
}
.you {
  color: gold;
  font-weight: medium;
}
.SIT {
  background-color: black;
  height: 1px;
  
}
.viper {
	height: 5px;
	width: 10px;
	background-color: darkcyan;
}
.dep {
  text-align: center;
}
#c {
  text-align: center;
  border-width: large;
  border-style: solid;

  border-radius: 10px;
  border-color: gray;
  width: 600x;
}
#z {
  text-align: center;
  border-width: large;
  border-style: solid;

  border-radius: 10px;
  border-color: gray;
  height: 400px;
  width: 200x;
}
#vim {
  text-align: center;
  border-width: large;
  border-style: solid;

  border-radius: 10px;
  border-color: gray;
  height: 500px;
  width: 400x;
}
#zap {
  text-align: center;
  border-width: large;
  border-style: solid;

  border-radius: 10px;
  border-color: gray;
  height: 400px;
  width: 400x;
}
